<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gujrat Titans</title>
    <link rel="stylesheet" href="/gt.css">
    <link rel="stylesheet" href="/utils.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

</head>

<body>

    <body>
        <nav id="navbar1" class="flex flex-row">
            <h2 class="logo">Logo</h2>
            <h2 class="toptext marg-auto uppercase fontweight">🔥Aava &nbsp; de!🔥</h2>
        </nav>
        <nav id="navbar2">
            <div class="flex align-center justify-center align-center">
                <ul class="flex flex-row spacebetween uppercase fontweight">
                    <li><a href="/home" style="text-decoration: none;">Home</a></li>
                    <li><a href="/teams" style="text-decoration: none;">teams</a></li>
                    <li id="more" >more &nbsp;<i class="fa fa-sort-desc " aria-hidden="true"></i>
                     <div >
                        <ul id="more-content" >
                            <li>about us</li>
                            <li>feedback</li>
                        </ul>
                    </div>
                        </li>
                </ul>
            </div>
        </nav>
        <section class="flex flex-row">
            <aside>
                <div id="prev-game" class="flex justify-center align-center">
                    <div class="uppercase">previous game</div>
                </div>
                <div class="ourteam">
                    <div class="asidelogos"><img src="stockimage/GToutline.png" alt=""></div>
                    <div class="totscore fontweight">
                        <p>188/9</p>
                        <p>(20)</p>
                    </div>

                    <div class="individual-performance flex flex-row">
                        <div class="individual-batter">
                            <p>Shubman Gill: 101(58)</p>
                            <p>Sai Sudarshan: 47(36)</p>
                        </div>
                        <div class="individual-bowler">
                            <p>Bhuvneshwar Kumar: 5/30(4)</p>
                            <p>Favalhaq Farooqi: 1/31(4)</p>
                        </div>
                    </div>
                </div>
                <div class="verses uppercase fontweight flex justify-center">v/s</div>
                <div class="oppteam">
                    <div class="asidelogos"><img src="/teamsgraphics/srh/SRHoutline.png" alt=""></div>
                    <div class="totscore fontweight">
                        <p>188/9</p>
                        <p>(20)</p>
                    </div>

                    <div class="individual-performance flex flex-row">
                        <div class="individual-batter">
                            <p>Heinrich Klaasen:64(44)</p>
                            <p>Bhuvaneshwar Kumar: 27(26)</p>
                        </div>
                        <div class="individual-bowler">
                            <p>Mohd. Shami:4/21(4)</p>
                            <p>Mohit Sharma4/28(4)</p>
                        </div>
                    </div>
                </div>
            </aside>
            <section id="leads">
                <div class="row-even flex flex-row justify-center">
                    <div id="captain" class="container pos1">
                        <div class="title fontweight uppercase flex flex-row justify-center align-center ">captain</div>
                        <div class="photo fontweight uppercase flex flex-row justify-center"><img src="teamsgraphics/gt/hardik-pandya.png" alt=""></div>
                        <div class="stat fontweight uppercase flex flex-row justify-center align-center">1 Trophy🏆
                        </div>
                        <div class="name fontweight uppercase flex flex-row justify-center align-center">hardik pandya
                        </div>
                    </div>
                    <div id="stadium" class="container  pos2">
                        <div class="title fontweight uppercase flex flex-row justify-center align-center">Venue</div>
                        <div class="photo fontweight uppercase flex flex-row justify-center"><img src="teamsgraphics/gt/narendra-modi-stadium-motera-ahmedabad.jpg" alt=""></div>
                        <div class="stat fontweight uppercase flex flex-row justify-center align-center">Ahemdabad</div>
                        <div class="name fontweight uppercase flex flex-row justify-center align-center">narendra modi stadium </div>
                    </div>
                </div>
                <div class="row-odd flex flex-row justify-center">
                    <div id="morun" class="container pos3">
                        <div class="title fontweight uppercase flex flex-row justify-center align-center">most runs
                        </div>
                        <div class="photo fontweight uppercase flex flex-row justify-center"><img src="teamsgraphics/gt/62.png" alt=""></div>
                        <div class="stat fontweight uppercase flex flex-row justify-center align-center">576 runs</div>
                        <div class="name fontweight uppercase flex flex-row justify-center align-center">Shubman Gill
                        </div>
                    </div>
                    <div id="mowicker" class="container  pos4">
                        <div class="title fontweight uppercase flex flex-row justify-center align-center">most wickets
                        </div>
                        <div class="photo fontweight uppercase flex flex-row justify-center"><img src="teamsgraphics/gt/shami.png" alt=""></div>
                        <div class="stat fontweight uppercase flex flex-row justify-center align-center">23 wickets
                        </div>
                        <div class="name fontweight uppercase flex flex-row justify-center align-center">Mohd. Shami
                        </div>
                    </div>
                    <div id="mocatches" class="container  pos5">
                        <div class="title fontweight uppercase flex flex-row justify-center align-center">most catches
                        </div>
                        <div class="photo fontweight uppercase flex flex-row justify-center"><img src="teamsgraphics/gt/wridhi.png" alt=""></div>
                        <div class="stat fontweight uppercase flex flex-row justify-center align-center">18 catches
                        </div>
                        <div class="name fontweight uppercase flex flex-row justify-center align-center">wriddhiman saha
                        </div>
                    </div>
                </div>
                <div class="row-even flex flex-row justify-center">
                    <div id="mosixes" class="container pos1">
                        <div class="title fontweight uppercase flex flex-row justify-center align-center">most sixes
                        </div>
                        <div class="photo fontweight uppercase flex flex-row justify-center"><img src="teamsgraphics/gt/miller.png" alt=""></div>
                        <div class="stat fontweight uppercase flex flex-row justify-center align-center">17 sixes</div>
                        <div class="name fontweight uppercase flex flex-row justify-center align-center">David Miller
                        </div>
                    </div>
                    <div id="mofours" class="container  pos2">
                        <div class="title fontweight uppercase flex flex-row justify-center align-center">most fours
                        </div>
                        <div class="photo fontweight uppercase flex flex-row justify-center"><img src="teamsgraphics/gt/62.png" alt=""></div>
                        <div class="stat fontweight uppercase flex flex-row justify-center align-center">67 boundaries
                        </div>
                        <div class="name fontweight uppercase flex flex-row justify-center align-center">Shubman Gill
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </body>
    <footer class="flex flex-row">
        <section id="highlights" class="flex justify-center">
            <div id="memories" class="uppercase fontweight flex justify-center">
                <h1>#facts</h1>
            </div>
            <div id="fact" class="flex justify-center">The Indian Premier League has been held 12 times and the 13th edition will be held soon in the UAE but little do people actually know that in the entire history of this competition, which is an Indian competition at heart, only 2 Indian players have every received the  MVP awards making it one of the most amazing IPL facts.The first one came in in the 3rd edition of IPL (IPL 2010) when Sachin Tendulkar scored 618 runs for Mumbai Indians, interestingly he also won the  Orange Cap in the tournament.Virat Kohli was the 2nd India who won the MVP award and it came in the 8th   season of the IPL when he scored a staggering 973 runs. </div>

        </section>

        <section id="sponsor">
            <div class="uppercase">our sponsors: </div>
            <img src="stockimage/Cred.png" alt="">
            <img src="stockimage/aramco.png" alt="">
            <img src="stockimage/Rupay.png" alt="">
            <img src="stockimage/saudi-new-logo.png" alt="">
        </section>
    </footer>



    <script src="home.js"></script>
</body>

</html>